# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment and dependency folders
.env
env/
node_modules/

# Distribution / packaging
*.egg-info/
*.bak
*.zip
*.tar.gz

# Logs and database
*.log
*.db
*.sqlite3

# macOS and IDE files
.DS_Store
*.swp
tags

